.container {
  margin: 20px 15px 0 15px;
  height: 100%;
}
.containerDiv {
  padding: 15px 0;
  border-radius: 15px;
}
.title {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}

.img {
  display: none;
}

.list {
  padding: 15px;
  width: 90%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item {
  max-width: calc(50% - 10px);
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  background-color: rgba(35, 36, 52, 0.7);
  color: #fff;
  padding: 3px;
  border-radius: 5px;
}

@media screen and (min-width: 450px) {
  .containerDiv {
    padding: 15px 0 0 20px;
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.6rem;
  }
  .list {
    font-size: 1.1rem;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: 35px;
    margin-right: 35px;
  }
  .containerDiv {
    padding: 15px 0 0 35px;
  }
  .title {
    font-size: 2.2rem;
  }
  .list {
    font-size: 1.6rem;
    gap: 15px;
  }
  .item {
    max-width: calc(33.33% - 10px);
    flex: 1 1 calc(33.33% - 10px);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin-left: 45px;
    margin-right: 45px;
    background-image: none;
    background-size: none;
    background-position: none;
    background-repeat: none;
  }

  .containerDiv {
    padding: 15px 0;
    font-size: 3rem;
  }

  .title {
    font-size: 2.8rem;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .containerFlex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
  }
  .img {
    display: block;
    border-radius: 15px;
    height: 400px;
    width: 550px;
  }

  .list {
    background-color: rgba(35, 36, 52, 0.7);
    border-radius: 15px;
    flex: 1;
    padding: 20px;
  }
}
