.container {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: linear-gradient(
      rgba(35, 36, 52, 0.7),
      rgba(35, 36, 52, 0.7)
    ),
    url(../../assets/bepeks_services.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 500px;
  border-radius: 15px;
}
.containerDiv {
  padding: 15px 0;
  font-size: 1rem;
  border-radius: 15px;
  color: white;
}
.title {
  text-align: center;
}

.img {
  display: none;
}

.list {
  color: white;

  padding: 15px;
  width: 90%;
  font-size: 1rem;
}

@media screen and (min-width: 450px) {
  .container {
    height: 60vh;
    max-height: 600px;
  }
  .containerDiv {
    padding: 15px 0 0 20px;
    font-size: 1.5rem;
  }
  .list {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: 35px;
    margin-right: 35px;
    height: 80vh;
    max-height: 800px;
  }
  .containerDiv {
    padding: 15px 0 0 35px;
    font-size: 2.5rem;
  }
  .list {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin-left: 45px;
    margin-right: 45px;
    background-image: none;
    background-size: none;
    background-position: none;
    background-repeat: none;
  }

  .containerDiv {
    padding: 15px 0;
    font-size: 3rem;
  }

  .title {
    color: #000;
    font-size: 3rem;
    margin-bottom: 15px;
  }
  .containerFlex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
  }
  .img {
    display: block;
    border-radius: 15px;
    height: 400px;
    width: 450px;
  }

  .list {
    background-color: rgba(35, 36, 52, 0.7);
    border-radius: 15px;
    flex: 1;
    padding: 20px;
  }
}
