.container {
  margin: 20px 15px 0 15px;
  /* background-image: linear-gradient(
      rgba(35, 36, 52, 0.7),
      rgba(35, 36, 52, 0.7)
    ),
    url(../../assets/bepeks_services.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 15px;
}
.containerDiv {
  padding: 15px 0;
  font-size: 0.8rem;
  border-radius: 15px;
  color: rgb(0, 0, 0);
}
.title {
  text-align: center;
}

.img {
  display: none;
}

.list {
  color: rgb(0, 0, 0);
  padding: 15px;
  width: 90%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item {
  max-width: calc(50% - 10px);
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  background-color: #dcdcdc;
  padding: 3px;
  border-radius: 5px;
}

@media screen and (min-width: 450px) {
  .container {
    height: 60vh;
    max-height: 600px;
  }
  .containerDiv {
    padding: 15px 0 0 20px;
    font-size: 1.5rem;
  }
  .list {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: 35px;
    margin-right: 35px;
    height: 80vh;
    max-height: 800px;
  }
  .containerDiv {
    padding: 15px 0 0 35px;
    font-size: 2.5rem;
  }
  .list {
    font-size: 1.6rem;
  }
  .item {
    max-width: calc(33.33% - 10px);
    flex: 1 1 calc(33.33% - 10px);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin-left: 45px;
    margin-right: 45px;
    background-image: none;
    background-size: none;
    background-position: none;
    background-repeat: none;
  }

  .containerDiv {
    padding: 15px 0;
    font-size: 3rem;
  }

  .title {
    color: #000;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .containerFlex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
  }
  .img {
    display: block;
    border-radius: 15px;
    height: 400px;
    width: 400px;
  }

  .list {
    background-color: rgba(35, 36, 52, 0.7);
    border-radius: 15px;
    flex: 1;
    padding: 20px;
  }
}
