.container {
  /* margin-top: 70px; */
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  border-radius: 15px;
}

.imageWrapper {
  /* margin-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.textOverlay {
  padding: 20px;
  color: white;
  text-align: center;

  width: 100%;
  font-size: 0.9rem;
}

@media screen and (min-width: 450px) {
  .container {
    height: 100%;
  }

  .imageWrapper {
    margin-top: 60px;
    width: 100%;
    height: 300px;
  }

  .textOverlay {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 120px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .imageWrapper {
    margin-top: 60px;
    width: 100%;
    height: 550px;
  }
  .textOverlay {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin-top: 150px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .textOverlay {
    font-size: 3.5rem;
  }

  .imageWrapper {
    height: 700px;
  }
}
