.container {
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../assets/Office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.textOverlay {
  color: white;
  text-align: center;
  padding: 20px;
  width: 90%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
}
