.container {
  max-width: 360px;
  position: fixed;
}
.header {
  background-color: #000000;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  top: 0;
  width: 100%;
}
.img {
  height: 30px;
  margin-left: 7px;
}

.nav {
  display: none;
}

.item {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}

.item:hover {
  color: #73726f;
}

.btn_burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn {
  font-weight: 400;
  font-size: 12px;
  border-radius: 8px;
  padding: 7px 12px;
  margin-left: 120px;
  background-color: #111;
  color: #fff;
  border: 1px solid #fff;
}
.btn:hover {
  background-color: #585c5a;
}

.burger {
  color: #fff;
  margin-right: 20px;
}
.burger:hover {
  background-color: #585c5a;
}
@media screen and (min-width: 450px) {
  .header {
    padding-right: 10px;
  }

  .nav {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .btn {
    margin-left: 50px;
    margin-right: 15px;
  }
  .burger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    height: 90px;
    padding-right: 30px;
  }
  .img {
    width: 125px;
    height: 50px;
    padding-left: 20px;
  }

  .item {
    font-weight: 500;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .header {
    height: 120px;
    padding-right: 50px;
  }
  .img {
    width: 150px;
    height: 60px;
    padding-left: 40px;
  }
  .nav {
    gap: 50px;
  }
  .item {
    font-weight: 500;
    font-size: 18px;
  }
}
