h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  /* background-color: #000000; */
  background-image: linear-gradient(
      rgba(35, 36, 52, 0.7),
      rgba(35, 36, 52, 0.7)
    ),
    url(../assets/bepeks_home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
