.container {
  margin-top: 50px;
}
.containerDiv {
  margin: 15px;
  font-size: 1rem;
  border-radius: 15px;
  background-color: rgba(35, 36, 52, 0.7);
  color: white;
}
.title {
  margin-bottom: 10px;
  text-align: center;
}

.list {
  padding: 10px;
}
