.container {
  margin: 20px 15px;
  font-size: 1rem;
}
.containerDiv {
  padding: 15px 10px;
  font-size: 1rem;
  border-radius: 15px;
  /* background-image: linear-gradient(
      rgba(35, 36, 52, 0.9),
      rgba(35, 36, 52, 0.9)
    ),
    url(../../assets/Office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  color: white;
}

.jpg {
  display: none;
}
.title {
  margin-bottom: 10px;
  text-align: center;
}

.list {
  padding: 10px;
}

@media screen and (min-width: 450px) {
  .container {
    height: 100%;
  }
  .containerDiv {
    padding: 15px 0 0 20px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: 35px;
    margin-right: 35px;
  }

  .containerDiv {
    padding: 15px 0 0 35px;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    margin-left: 45px;
    margin-right: 45px;
    background-image: none;
    background-size: none;
    background-position: none;
    background-repeat: none;
  }

  .containerDiv {
    padding: 15px 0;
    font-size: 1.5rem;
  }
  .jpg {
    display: flex;
    width: 200px;
    height: 150px;
    border-radius: 10px;
  }
  .containerDiv {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
